/* main css */

#wardrobe-list .card {
  margin-bottom: 1.5em;
}

.card img {
  max-height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.card-body {
  text-align: center;
}

@media (max-width: 576px) {
  #wardrobe-list .col-12 {
      flex: 0 0 auto;
      width: 33.333333%;
  }
}

@media (min-width: 576px) {
  #wardrobe-list .col-sm-6 {
      flex: 0 0 auto;
      width: 33.333333%;
  }
}

@media (min-width: 768px) {
  #wardrobe-list .col-md-4 {
      flex: 0 0 auto;
      width: 33.333333%;
  }
}

@media (min-width: 992px) {
  #wardrobe-list .col-lg-3 {
      flex: 0 0 auto;
      width: 25%;
  }
}
