.container {
  width: 90%;
  max-width: 1200px;
  margin: 100px auto 100px auto;
  display: flex;
  flex-direction: column;
}

#wardrobe-list .card {
  margin-bottom: 1.5em;
}

.card img {
  max-height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}
.card-title a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.card-body {
  text-align: center;
}

@media (max-width: 576px) {
  #wardrobe-list .col-12 {
      flex: 0 0 auto;
      width: 33.333333%;
  }
}

@media (min-width: 576px) {
  #wardrobe-list .col-sm-6 {
      flex: 0 0 auto;
      width: 33.333333%;
  }
}

@media (min-width: 768px) {
  #wardrobe-list .col-md-4 {
      flex: 0 0 auto;
      width: 33.333333%;
  }
}

@media (min-width: 992px) {
  #wardrobe-list .col-lg-3 {
      flex: 0 0 auto;
      width: 25%;
  }
}

/* 全局字體顏色，例如深灰色 */
.container {
  color: #86797D;
}

.form-select {
  color: #8d8185;
}

.btn {
  color: #8d8185;
}