main.container {
  width: 90%;
  margin: 100px auto;
}

.featurette {
  margin-bottom: 2rem;
}

.spacer {
  height: 40px;
  background-color: transparent;
}

@media (min-width: 768px) {
  h2.featurette-heading {
    font-size: 2.5rem;
  }

  p.lead {
    font-size: 1.5rem;
  }

  .featurette {
    display: flex;
    align-items: center;
  }

  .featurette:nth-child(odd) .col-md-7 {
    order: 2;
  }

  .featurette:nth-child(odd) .col-md-5 {
    order: 1;
  }
}

.text-center {
  color: #917b56;
  text-shadow: 2px 2px 4px rgba(127, 125, 125, 0.4);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.text-center::after {
  content: "";
  display: block;
  width: 93%;
  height: 1px;
  background-color: #ccc;
  margin-top: 15px;
}

.text-left p {
  font-size: 16px;
  font-weight: 350;
  margin-right: 7%;
}

.container {
  margin-top: 15px;
  margin-bottom: 30px;
}

.color-table {
  width: 100%;
  margin: 20px 0;
  border-collapse: separate;
  border-spacing: 10px;
  padding-bottom: 50px;
}
.color-table td {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
