.banner {
  max-width: 90%;  
  margin: auto;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}

.banner-text {
  z-index: 1;
  color: #917b56;
  text-shadow: 2px 2px 4px rgba(127, 125, 125, 0.4);
}

.banner-text h3 {
  font-size: 25px;
  border-bottom: 1px solid #917b56;
  font-weight: 900;
  padding-bottom: 0.3em;
  margin-bottom: 0.3em;
}

.banner-text h1 {
  font-size: 40px;
  color: #fff;
  border-bottom: 1px solid #fff;
  font-weight: 900;
  padding-bottom: 0.3em;
  margin-bottom: 0.3em;
}

.banner-text p {
  font-size: 16px;
  font-weight: 300;
}

.btn-primary {
  background-color: #e6b5ae;
  border-color: #e6b5ae;
  border-radius: 20px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #f9d9ca; /* Change background color on hover */
  border: #f9d9ca;
}

#title {
  background: linear-gradient(115deg, rgba(225, 166, 161, 0.5) 50%, rgba(235, 233, 233, 0.5) 50%),
    url("/img/advertise_1.png") no-repeat center center;
}

#title p {
  color: white;
}

/* 三個功能區*/

.content {
  margin-right: 220px; 
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 60px;
  width: calc(100% - 200px);
  margin: auto; 
}

.content-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  min-width:250px;
  max-width: 1200px;
  padding-bottom: 20px;
  margin: auto;
}

.content-box::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc; 
  margin-top: 20px; 
}

.image-text-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #ccc; 
  padding: 20px; 
  border-radius: 10px; 
  max-width: 300px;
  background-color: white; 
}

.image img {
  width: 100%; 
  height: auto; 
  border-radius: 10px; 
  margin-bottom: 10px;
}

.text {
  max-width: 200px; /* 调整文本的最大宽度 */
  margin-bottom: 20px;
}

/*下排三*/
.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  border-radius: 10px;
}

.image-container .overlay1,
.image-container .overlay2 {
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}

.image-container .overlay1 {
  top: 150px;
  left: -100px;
  width: 100%;
  height: 80%;
  background-color: #7b695f;
}

.image-container .overlay1::after {
  content: "";
  position: absolute;
  top: -200px;
  left: 50px;
  width: 60%;
  height: 100%;
  border: 3px solid #FBF6F3;
  border-radius: 10px;
  z-index: -1;
}

@media (max-width: 768px) {
  .order-md-2 {
    order: 1 !important;
  }
  
  .image-container .overlay1 {
    top: 140px; /* 调整为你需要的值 */
  }
  .image-container .overlay1::after {
    top: -200px; /* 调整为你需要的值 */
  }

  .col-md-6.order-md-2.d-flex.flex-column.justify-content-center.mx-auto {
    order: 2;
    margin-top: 80px; /* 确保在移动设备上有足够的空隙 */
    margin-bottom: 20px; /* 增加下方间距，避免覆盖图片 */
  }
}

.image-container .overlay2 {
  position: absolute;
  top: -50px;
  right: -30px;
  width: 800px;
  height: 65%;
  background-color: #c6c6bc;
}

@media (max-width: 768px) {
  .col-md-6.d-flex.flex-column.justify-content-center.mx-auto {
    order: 2 !important; /* 移至下方 */
    margin-top: 20px; /* 往下位移 */
  }
}

.row .overlay3 {
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% + 40px);
  max-width: none;
  height: calc(100% + 40px);
  background-color: #FBF6F3;
  z-index: -1;
  border-radius: 10px;
}

.extra-margin {
  margin-top: 100px; /* 调整此值以增加行之间的间距 */
}

@media (max-width: 768px) {
  .extra-margin {
    margin-top: 50px; /* 在小屏幕上减少间距 */
  }

  .col-md-6.order-md-2.d-flex.flex-column.justify-content-center.mx-auto.adjusted {
    margin-top: 50px; /* 确保在移动设备上有足够的空隙 */
  }

  .col-md-5.order-md-1.position-relative {
    margin-bottom: 20px; /* 增加下方间距，确保空隙一致 */
  }
}


h2.featurette-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

p.lead {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  color: #555;
}


img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.featurette {
  margin-bottom: 2rem;
}

.spacer {
  height: 40px;
  background-color: transparent;
}

@media (min-width: 768px) {
  h2.featurette-heading {
    font-size: 2.5rem;
  }

  p.lead {
    font-size: 1.5rem;
  }

  .featurette {
    display: flex;
    align-items: center;
  }

  .featurette:nth-child(odd) .col-md-7 {
    order: 2;
  }

  .featurette:nth-child(odd) .col-md-5 {
    order: 1;
  }
}
