* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header, footer {
  z-index: 2;
  position: relative;
}

.post {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 600px;
  background-color: #fff;
  color: rgb(8, 8, 8);
  width: 100%;
  box-sizing: border-box;
  text-align: left; /* 確保內容靠左對齊 */
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.post-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-username {
  font-size: 1.2em;
  padding: 10px;
}

.post-userinfo {
  display: flex;
  align-items: center;
}

.more-options {
  position: relative;
}

.more-options svg {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  background: white;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow: hidden;
  z-index: 1;
  white-space: nowrap;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.dropdown-menu li a:hover {
  background-color: #f0f0f0;
}

.post img {
  display: block;
  margin: 0 auto;
}

.prot {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-bottom: 20px;
  margin: 10px 0;
}

.prot li {
  margin: 10px 0;
}

.post-actions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.post-actions button {
  background-color: #f0a9a9;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.post-actions button:hover {
  background-color: #e09393;
}


.slider_container1 img {
  max-width: 100%;
  border-radius: 8px;
}

.comment-section {
  display: none;
  margin-top: 10px;
}

.comment-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.comment-section button {
  margin-top: 10px;
}

.main-content {
  padding-top: 150px;
  padding-bottom: 100px;
}

@media screen and (max-width: 800px) {
  .slider {
    margin: 20px auto;
  }

  .slide img {
    border-radius: 20px;
  }

  .post {
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
  }

  .post-actions button {
    padding: 5px 10px;
  }
}


