.wrap {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}
.wrap button {
  margin: 0 10px;
}
.container {
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #e9e8e8;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.item-img {
  width: 45%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}

.item-img img {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.item-info {
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: start;
}

.item-info h1,
.item-info p {
  margin: 5px 0; /* 調整間距 */
}

.item-info h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.item-info p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.item-info .price {
  font-size: 1.5rem;
  color: #333;
}

.item-info .added-date {
  font-size: 1rem;
  color: #777;
}

/* RWD設計 */
@media screen and (max-width: 768px) {
  .item-img {
    width: 90%;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .item-info {
    width: 90%;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
