.result-section {
    text-align: center;
    justify-content: center;
    margin: 40px 0;
  }
  
  .percentage {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .percentage-value {
    font-size: 24px;
    font-weight: bold;
    color: #d4b7a1;
  }
  
  .image-section img {
    max-width: 100%;
    height: auto;
  }
  
  .recommend-section {
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
  }
  
  .items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  
  .item img {
    width: 100px;
    height: 100px;
  }
  
  .item {
    text-align: center;
    align-items: center;
  }
  
  .back-button {
    text-align: center;
    margin: 20px 0;
  }
  
  .again {
    text-align: center;
    margin: 20px 0;
  }
  
  .again button {
    padding: 10px 20px;
    background-color: #d4b7a1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  /* 防止 header 和 footer 遮擋 body 內容 */
  body {
    padding-top: 70px; /* 根據 header 的高度調整 */
    margin-bottom: 100px; /* 為 footer 留出空間 */
}
/* 增加標題與表單之間的間距 */
h1 {
    margin-top: 20px;
}
/* 確保 footer 固定在頁面底部 */
#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}