.header {
  z-index: 3; /* 確保 header 在 footer 之上 */
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: #f9f9f9;
}

.close-btn {
  text-decoration: none;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.result-container {
  text-align: center;
}

.result-title {
  font-size: 1.8rem;
  color: #917b56;
  margin-bottom: 1.5rem;
}

.result-card {
  background-color: #fefefe;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.result-image {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

.result-card-info {
  margin-top: 1rem;
  font-size: 1rem;
  color: #555;
}

.result-description {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.confirm-btn,
.delete-btn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-btn {
  background-color: #d4b7a1;
  color: #fff;
}

.delete-btn {
  background-color: #bebebe;
  color: #fff;
}

.confirm-btn:hover {
  background-color: #c9a289;
}

.delete-btn:hover {
  background-color: #a0a0a0;
}
