.main-content {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .edit-post {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 600px;
    background-color: #fff;
    color: rgb(8, 8, 8);
    text-align: left;
  }
  
  .edit-post-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .form-group .btn {
    background-color: #f0a9a9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
  }
  
  .form-group .btn:hover {
    background-color: #e09393;
  }
  
  .form-group .btn-secondary {
    background-color: #cccccc;
  }
  
  .form-group .btn-secondary:hover {
    background-color: #bbbbbb;
  }
  
  @media screen and (max-width: 800px) {
    .slider {
      margin: 20px auto;
    }
  
    .slide img {
      border-radius: 20px;
    }
  
    .post {
      padding: 10px;
      margin: 10px 0;
      border-radius: 20px;
    }
  
    .post-actions button {
      padding: 5px 10px;
    }
  }
  
  
  /* 確保左側邊欄在大屏幕時顯示 */
  .left-sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    position: fixed;
    top: 70px;
    left: 0;
    height: calc(100% - 120px);
    overflow-y: auto;
    z-index: 10;
    transition: all 0.3s ease;
  }
  
  
  .left-sidebar .icon-search,
  .left-sidebar .icon-link {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .left-sidebar .icon-search img,
  .left-sidebar .icon-link img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
  }
  
  .left-sidebar .icon-search input {
    flex: 1;
  }
  
  .left-sidebar .icon-link a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 600;
    transition: all 0.3s ease;
    
  }
  
  /* 小屏幕樣式 */
  @media (max-width:1020px) {
    .left-sidebar {
      width: 100%;
      position: fixed;
      top: 60px;
      left: 0;
      height: 60px;
      display: flex;
      justify-content: space-around;
      padding: 15px;
      background-color: var(--header-footer-bg-color);
    }
  
    .main-content {
      margin-top: 90px;
    }
  
    .left-sidebar .icon-search {
      display: none; /* 隱藏搜索欄位 */
    }
  
    .left-sidebar .icon-link {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }
  
    .left-sidebar .icon-link span {
      display: none; /* 隱藏文字 */
    }
  
    .left-sidebar .icon-link img {
      margin-right: 0;
      width: 40px;
      height: 40px;
    }
  }
  
  
  .left-sidebar .icon-search input {
    width: 100px; /* 設置搜索框的寬度 */
    height: 30px; /* 設置搜索框的高度 */
    padding: 5px; /* 調整內邊距 */
    font-size: 14px; /* 調整字體大小 */
    border-radius: 10px; /* 調整圓角 */
    border: 1px solid #ccc; /* 設置邊框 */
  }
  
  /* 在小屏幕時也可以相應調整搜索框大小 */
  @media (max-width: 768px) {
    .left-sidebar .icon-search input {
      width: 100px; /* 調整小屏幕時的寬度 */
      height: 25px; /* 調整小屏幕時的高度 */
      font-size: 12px; /* 調整小屏幕時的字體大小 */
    }
  }