.header {
  z-index: 3; /* 確保 header 在 footer 之上 */
}

.footer {
  z-index: 1; /* 設定較低的層級 */
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

.rounded-circle {
  border-radius: 50%;
}

.nav-tabs .nav-link {
  color: #333;
  border-radius: 10px;
}

.nav-tabs .nav-link.active {
  color: #000;
  font-weight: bold;
}

.buttons .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.corner-icon {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.post-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}