<!DOCTYPE html>
<html lang="en">
  <head>
    <title>你的穿搭造型師</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/closet_detail.css">
  </head>

  <body>
    <div id="header"></div>

    <main>
      <div class="wrap">
        <ol class="bread">
          <li><a href="closet_index.html">衣櫃總覽</a></li>
          <li><a href="#">詳細介紹</a></li>
        </ol>
      </div>
      <section class="container">
        <div class="item-img">
          <img src="https://via.placeholder.com/150" alt="服飾圖片" id="itemImage">
        </div>
        <div class="item-info">
          <h1 id="itemName">Item Name</h1>
          <p id="itemBrand">Brand Name</p>
          <p  id="itemPrice">$100</p>
          <p class="hashtag" id="itemHashtag">#裙子 &nbsp;&nbsp; #夏天 &nbsp;&nbsp; #休閒 &nbsp;&nbsp; #旅行</p>
          <p class="added-date" id="itemAddedDate">Added Date</p>
        </div>
      </section>
  </main>
  
  <div id="footer"></div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="../js/bootstrap.min..js"></script>
    <script src="../js/popper.min.js"></script>
    <script defer src="../js/main.js"></script>
    <script src="../js/cloeset_detail.js"></script>
  </body>
</html>
