<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ColorFour</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/color_index.css" />
  </head>
  <body>
    <div id="header"></div>
    <main>
      <section class="container my-5">
        <div class="row mb-4">
          <div class="col-md-6 order-md-2 d-flex flex-column justify-content-center mx-auto" style="order: 2">
            <h2>我的氣色</h2>
            <p>
              透過使用者在上傳自己的臉部色彩圖片後，系統會依照照片中的膚色、髮色與瞳色進行判別，以提供個人化四季型色彩分析建議，讓使用者了解自己適合的服飾顏色穿搭。
              色彩分析結果為春、夏、秋、冬四個季節的色彩型。
            </p>
            <!-- 新增按鈕 -->
            <div class="button-container mt-3">
              <a href="color_test.html" class="btn btn-secondary">前往測驗</a>
              <a href="color_result.html" class="btn btn-secondary">查看結果</a>
            </div>
          </div>
          <div class="col-md-6 order-md-1 position-relative">
            <div class="image-container">
              <img src="../img/makeup.png" class="img-fluid rounded" alt="線上衣櫃" />
              <div class="overlay1"></div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div id="footer"></div>
  </body>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <script defer src="../js/main.js"></script>
</html>
