<header class="header">
  <div class="nav">
    <button href="javascript:void(0);" id="sidebar-toggle">
      <img src="../img/menu_button_icon.png" class="zoom" style="width: 45px; height: 50px">
    </button>
  </div>
  <aside class="sidebar">
    <img src="https://picsum.photos/id/684/600/400" alt="會員照片" class="member-photo" />
    <hr class="sidebar-divider" />
    <div class="page-links">
      <a href="../index.html">回到首頁</a>
      <a href="color_index.html">我的氣色</a>
      <a href="closet_index.html">線上衣櫃</a>
      <a href="suggest_index.html">穿搭建議師</a>
      <a href="buy_index.html">採購建議師</a>
      <a href="social_index.html" >社群互動</a>
      <a href="todo_index.html">穿搭日程</a>
      <a href="user_profile.html">會員管理</a>
      <a href="#"> 登入</a>
      <hr class="sidebar-divider" />
      <a href="about.html">關於我們</a>
      <a href="contact.html">聯繫客服</a>
    </div>
  </aside>
</header>