<header class="header">
  <div class="nav">
    <form action="">
      <div class="search-container">
        <img src="../img/magnifying_glass_icon.png" class="search-icon" alt="Search Icon">
        <input type="search" placeholder="請輸入關鍵字">
      </div>
      <button><i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i></button>
    </form>
    <a href="javascript:void(0);" id="sidebar-toggle">
      <img src="../img/menu_button_icon.png" class="zoom" style="width: 45px; height: 50px">
    </a>
  </div>
  <aside class="sidebar">
    <img src="https://picsum.photos/id/684/600/400" alt="會員照片" class="member-photo" />
    <hr class="sidebar-divider" />
    <div class="page-links">
      <a href="index.html">Home</a>
      <a href="../templates/social_index.html" >社群互動</a>
      <a href="../templates/color_index.html">我的氣色</a>
      <a href="../templates/closet_index.html">線上衣櫃</a>
      <a href="../templates/suggest_index.html">穿搭建議師</a>
      <a href="../templates/buy_index.html">採購建議師</a>
      <a href="../templates/todo_index.html">穿搭日程</a>
      <a href="../templates/about.html">關於我們</a>
      <a href="#"> 登出</a>
      <hr class="sidebar-divider" />
      <a href="../templates/contact.html">聯繫客服</a>
    </div>
  </aside>
</header>