<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ColorFour</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/social_index.css" />
  </head>
  <body>
    <div id="header"></div>
    <main class="main-content container">
      <div id="post-container"></div>
    </main>
    <div class="zone"></div>
    <div id="footer"></div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script defer src="../js/main.js"></script>
    <script src="../js/social_index.js"></script>
  </body>
</html>
