<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ColorFour</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/suggest_detail.css" />
  </head>

  <body>
    <div id="header"></div>
    <main>
      <div class="wrap">
        <button class="btn btn-outline-secondary">編輯推薦</button>
        <button class="btn btn-outline-secondary">回推薦總覽</button>
      </div>
      <section class="container">
        <div class="item-img">
          <img src="https://via.placeholder.com/150" alt="推薦圖片" id="itemImage" />
        </div>
        <div class="item-info">
          <h1 id="itemName">推薦名稱</h1>
          <p id="itemDescription">推薦結果敘述</p>
          <p class="added-date" id="itemDate">推薦日期</p>
        </div>
      </section>
    </main>
    <div class="zone"></div>
    <div id="footer"></div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script defer src="../js/main.js"></script>
    <script src="../js/suggest_detail.js"></script>
  </body>
</html>
