<!DOCTYPE html>
<html lang="en">
  <head>
    <title>你的穿搭造型師</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>

  <body>
    <div id="header"></div>
    <div style="margin-top: 150px;"></div>

    <main>
      <h1>請複製這個檔案，然後把這句話刪掉，就可以編輯裡面的內容了。</h1>
    </main>

    <div style="height: 100px"></div>
    <div id="footer"></div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="../js/bootstrap.min..js"></script>
    <script src="../js/popper.min.js"></script>
    <script defer src="../js/main.js"></script>
  </body>
</html>
