<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ColorFour</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/user_profile.css" />
  </head>

  <!-- please use 425 px, thank you. -->

  <body>
    <div id="header"></div>

    <main class="container">
      <div class="row my-4">
        <div class="col-6 d-flex justify-content-between align-items-center">
          <div>
            <img
              src="https://picsum.photos/100/100?random=1"
              alt="user profile image"
              class="rounded-circle"
              width="100"
              height="100"
            />
            <div>
              <h2>ColorFour</h2>
              <p>@ColorFourAdmin</p>
              <p>讓你的專屬穿搭造型師，給你點顏色瞧瞧！</p>
            </div>
          </div>
          <div></div>
        </div>
        <div class="col-6">
          <div class="icons d-flex justify-content-end align-items-center">
            <img width="30" height="30" src="https://img.icons8.com/material-outlined/30/share.png" alt="share" />
            <img width="30" height="30" src="https://img.icons8.com/ios/50/settings--v1.png" alt="settings--v1" />
          </div>
          <div class="row my-4">
            <div class="col-12">
              <div class="d-flex flex-column align-items-start">
                <p>男性</p>
                <p>0 貼文 | 0 粉絲 | 0 追蹤中</p>
              </div>
            </div>
          </div>
          <div></div>
        </div>
      </div>

      <div class="buttons d-flex justify-content-center">
        <button
          class="btn btn-outline-secondary d-flex justify-content-center"
          style="width: 45%; margin: 0 2%; border-radius: 20px"
        >
          編輯個人簡介
        </button>
        <button
          class="btn btn-outline-secondary d-flex justify-content-center"
          style="width: 45%; margin: 0 2%; border-radius: 20px"
        >
          分享個人檔案
        </button>
      </div>
      <div class="row my-4">
        <div class="col-12">
          <ul class="nav nav-tabs d-flex justify-content-center" style="border-radius: 10px">
            <li class="nav-item">
              <a class="nav-link active" style="border-radius: 10px" href="#">我的貼文</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="border-radius: 10px" href="#">收藏穿搭</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="border-radius: 10px" href="#">最愛單品</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-12 text-center">
          <p>尚未發布任何穿搭</p>
        </div>
      </div>
    </main>

    <div id="footer"></div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script defer src="../js/main.js"></script>
  </body>
</html>
